/*清除初始样式*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
}
/*顶部样式*/
/*#tops{
	width: 100%;
	height: 180px;
}
	#t-top{
		width: 100%;
		height: 30px;
		background: #DADADA;
	}
	#t-top-span{
		display: block;
		height: 30px;
		line-height: 30px;
		margin-left: 360px;
	}*/

/*顶部*/
*{
				margin: 0;
				padding: 0;
				list-style: none;
				box-sizing: border-box;
				text-decoration: none;
			}
			html{
				width: 100%;
				height: 100%;
			}
			body{
				width: 100%;
				height: 100%;
			}
			li{
				text-align: center;
				cursor: pointer;
			}
			.index-top-welcome ul li:hover{
	color:white;
}
.index-top-welcome ul a:hover{
	color:white;
}
.index-top-bar-ul li:hover{
	background:#9A9A9A;
	opacity: 0.5;
}
			.index-top{
				width: 100%;
				height: 179px;
			}
			.index-top-one{
				width:100%;
				height:32px;
				background:#dadada;
				margin: 0 auto;
			}
			.index-top-two{
				width:100%;
				height:120px;
			}
			.index-top-one>div{
				width:63%;
				height: 100%;
				margin: 0 auto;
			}
			.index-top-two>div{
				width:63%;
				height: 100%;
				margin: 0 auto;
			}
			.index-top-adress{
				height:100%;
				width:14%;
				float: left;
				position: relative;
			}
			.index-top-welcome{
				height:100%;
				width:53%;
				float: right;
			}
			.index-top-adress i{
				font-style: normal;
				height:100%;
				line-height:32px;
				text-align: center;
				font-size:14px;
				margin-left:14px;
			}
			.index-top-adress span{
				display: inline-block;
				height:100%;
				text-align: center;
				font-size:33px;
				position: absolute;
				top:-15px;
				left:76px;
			}
			.index-top-welcome ul{
				width:100%;
				height:100%;
				padding-top:9px;
			}
			.index-top-welcome ul a{
				color:#000000;
			}
			.index-top-welcome ul li{
				float: left;
				border-left:1px solid #6b6b6b;
				width:58px;
				font-size:14px;
				height:14px;
				line-height:14px;
			}
			.index-top-welcome ul li:nth-of-type(1){
				width: 194px;
				border-left: none;
			}
			.index-top-welcome ul .index-no{
				width: 78px;
			}
			.index-top-img{
				width: 160px;
				height: 100%;
				float: left;
				position: relative;
				padding-top:10px;
			}
			.index-top-img span{
				display: block;
				width:68px;
				height:68px;
				margin-left: 50px;
				background: url(logo.jpg) no-repeat 0px 0px;
				
			}
			.index-top-img h3{
				width: 100%;
				height:22px;
				line-height: 22px;
				text-align: center;
			}
			.index-top-img p{
				font-size:6px;
				width: 100%;
				height:14px;
				line-height: 14px;
				text-align: center;
			}
			.index-top-search{
				width:60%;
				height:100%;
				float: right;
				padding-top: 30px;
				position: relative;
			}
			.index-top-search span{
				display: block;
				width:538px;
				height: 38px;
				position: relative;
				border:1px solid  red ;
			}
			.index-top-search input{
				width:438px;
				height:100%;
				border:none;
				position:absolute;
				top: 0;
				left: 0;
			}
			.index-top-search button{
				width: 100px;
				height:100%;
				background: red;
				color: white;
				border: none;
				outline: none;
				cursor: pointer;
				position: absolute;
				top: 0px;
				left:438px;
			}
			.index-top-search>ul{
				height: 26px;
				width:100%;
				padding-top:10px;
			}
			.index-top-search>ul li{
				width:54px;
				height:14px;
				line-height:14px;
				float: left;
				font-size:14px;
				border-left:1px  solid  #949494;
				color:#949494;
			}
			.index-top-search>ul li:nth-of-type(1){
				border-left: none;
			}
			.index-top-search>ul li:nth-of-type(5){
				width:96px;
			}
			#index-ull{
				width:438px;
				height: 287px;
				border: 1px  solid #999999;
				border-top: none;
				position: absolute;
				z-index: 10;
				background: white;
				top:68px;
				left: 0px;
				display: none;
				overflow: auto;
			    }
			#index-ull li{
				width:100%;
				height:22px;
				margin-bottom:7px;
				text-align: left;
				color: #000000;
				cursor: pointer;
			}
			.index-top-bar{
				width:100%;
				height: 27px;
				background:red;
			}
			.index-top-bar div{
				width:63%;
				height: 100%;
				margin: 0 auto;
			}
			.index-top-bar-ul{
				width:50%;
				height:100%;
				list-style: none;
			}
			.index-top-bar-ul li{
				width:15%;
				height:100%;
				float: left;
				padding-top:6px;
			}
			.index-top-bar-ul a{
				display: block;
				width:100%;
				height:14px;
				line-height:14px;
				font-size:14px;
				color:white;
			}
			.index-top-bar-li a{
				border-left:1px solid white;
			}
			.index-top-bar-ul li:nth-child(1){
				width:20%;
			}
			.index-top-bar-ul li:nth-child(2){
				text-decoration:underline;
			}		
/*会员中心外包大盒子*/
#member_box{
	position: relative;
	width: 1090px;
	height: 700px;
	padding: 0px 35px;
	margin: 40px auto;
}
/*会员中心左边信息栏*/
#member_box_left{
	position: absolute;
	width: 170px;
	height: 925px;
}
		/*我的订单左边信息栏照片*/
		#member_box_left>img{
			width: 125px;
			height: 125px;
		}
		/*信息栏 ul*/
		#ul_information{
			width: 100%;
			height: 75%;
			margin-top:14px ;
			margin-left:11px ;
		}
		/*信息栏 li*/
		#ul_information>li{
			list-style:none;
			margin:5px 0px;
			font-size: 14px;
		}
		/*信息栏	li 里面的hover事件*/
		#ul_information>li:hover{
			cursor: pointer;
		}
		/*我的订单选中*/
		#ul_information_li{
			font-size: 20px !important;
		}
		/*li 个人资料修改/查看样式*/
		#ul_information>li:nth-of-type(1){
			color: #FF0000;
		}
		/*信息栏内的span*/
		#ul_span{
			font-size: 20px;
		}
/*会员中心右边*/
#member_box_right{
	position: absolute;
	width: 980px;
	height: 560px;
	left: 205px;
}
		/*个人资料h1设置*/
		#member_box_right>h1{
			font-family: "微软雅黑";
			font-size: 20px;
			color: #333;
			margin:10px 5px;
		}	
		#my_list{
			position: relative;
			width: 980PX;
			height: 510px;
			border: 1px solid #CCC;
		}
		/*个人资料span*/
		#my_list_span{
			position: absolute;
			width: 100%;
			height: 35px;
			border-bottom: 1px solid #b7b7b7;
			display: block;
		}
			/*ul li设置*/
			#my_list_span>ul>li{
				height: 35px;
				line-height: 35px;
				margin: 0px 15px;
				list-style:none;
				float:left;
				font-size: 16px;
				font-family: "微软雅黑";
				color: #333;
			}
			#my_list_span>ul>li:hover{
				cursor: pointer;
			}
			/*详细信息添加1*/
			#infor_add1{
				position: absolute;
				width: 100%;
				height: 380px;
				top: 35px;
				padding: 30px 0px 0px 60px;
				color: #333;
				display: block;
			}
					/*详细信息添加内的<I>标签的设置*/
					#infor_add1>span>i{
						font-style: normal;
						padding: 0px 5px;
					}
					/*详细信息添加内的<table>标签里的img进行尺寸设置*/
					#infor_add1>table img{
						width: 100px;
						height: 100px;
					}
					/*详细信息添加内的<table>标签*/
					#infor_add1 table{
						margin: 20px 0px;
					}
					#infor_add1>table td:nth-of-type(1){
						text-align: right;
						padding: 15px 15px 15px 0px;
					}
					#infor_add1 .text{
						width: 295px;
						height: 25px;
						line-height: 25px;
					}
					#infor_add1 #radio input{
						width: 60px;
						
					}
					#infor_add1 #address{
						width:210px;
						height: 25px;
						line-height: 25px;
					}
			/*详细信息添加2*/
			#infor_add2{
				position: absolute;
				width: 100%;
				height: 380px;
				top: 35px;
				padding: 30px 0px 0px 60px;
				color: #333;
				display: none;
			}
			/*提交按钮框*/
			#reset_btn{
				position: absolute;
				width: 100%;
				height: 65px;
				top: 445px;
				border-top: 1px solid #b7b7b7;
				line-height: 65px;
			}
			#reset_btn button{
				width: 60px;
				height: 30px;
				line-height: 30px;
				color: white;
				background: #dd2727;
				border: 0px;
				font-weight: 600;
				font-size: 16px;
				border-radius: 6px;
				margin-left:145px ;
			}
			#reset_btn button:hover{
				cursor: pointer;
			}
			
/*底部*/
		html {
				width: 100%;
				height: 100%;
			}
			
			body {
				width: 100%;
				height: 100%;
			}
			#order_box_bottom {
				position: relative;
				width:100%
				top: 0px;
				padding-top:50px ;
				background: #EAEAEA;
			}
			.floor-one-one {
				position: relative;
				width: 100%;
				height: 210px;
				text-align: center;
			}
			#order_box_bottom .floor-ul-one{
				width: 1338px;
				height: 30px;
				margin:0 auto
			}
			.floor-ul-one li{
				line-height: 30px;
				list-style: none;
			}
			.floor-ul-two li{
				line-height: 20px;
				list-style: none;
			}
			.floor-ul-san li{
				line-height: 20px;
				list-style: none;
			}
			.floor-ul-two{
				width:915px;
				height: 20px;
				margin: 0 auto;
				margin-top:4px;
			}
			.floor-ul-san{
				width:1000px;
				height:20px;
				margin: 0 auto;
				margin-top: 10px;
			}
			.floor-ul-si{
				width: 520px;
				height: 20px;
				margin-left: 653px;
				margin-top: 10px;
				list-style: none;
				position: relative;
				margin: 10px auto;
			}
			#floor_one_one span{
				display: block;
				color: #a0a0a0;
				font-size:12px;
				cursor: pointer;
				position: relative;
				
				}
			#floor_one_one li{
				height:100%;
				float: left;
				font-size:12px;
				color: #a0a0a0;
				margin-left:4px;
				cursor: pointer;
				text-align: center;
				position: relative;
				padding-left:20px;
				padding-right:15px;
			}
			#floor_one_one li:after{
				content: " ";
				width:2px;
				height:10px;
				background: #A0A0A0;
			}
			.floor-ul-one li:after{
				position: absolute;
				top: 11px;
				left: 0;
			}
			.floor-ul-two li:after{
				position: absolute;
				top: 6px;
				left: 0;
			}
			.floor-ul-san li:after{
				position: absolute;
				top: 6px;
				left: 0;
			}
			.floor-ul-si li:after{
				position: absolute;
				top: 4px;
				left: 0;
			}
			#floor_one_one li:nth-of-type(1):after{
				display: none;
			}